@charset "UTF-8";
*{
    font-size: 16pt;
    font-family: sans-serif;
    /*height: 100%;*/

}
p{
    text-align: justify;
    font-size: 16pt;
}
body{
    background-image: linear-gradient(to right, #B3DFF3,#DAC1E8,#F5B0C2);
}
main{
    background-color: rgb(255, 255, 255);
    width: 600px;
    padding: 19px;
    margin: auto;
}
h1{
    color: #39b1c4;
}
h2{
    color: brown;
}